@import '../../../styles/variables';
@import '../../../styles/mixins';

.bodyInner {
    width: 100vw;
    &.CategoryInputWrapper {
        margin: 0;
        @include flexCenter();
        box-sizing: border-box;
        .CategoryInputFlexContainer {
            @include flexAllCenter();
            min-width: 100vw;
            width: auto;
            min-height: 100vh;
            height: auto;
            .CategoryInputContainer {
                width: calc(100% - 16px);
                .CategoryInputCard {
                    background: #FAFAFA;
                    box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.4);
                    border-radius: 4px;
                    padding: 20px;
                    .CategoryInputHeader {
                        text-align: center;
                        margin-bottom: 40px;
                        @media #{$XSmall-Mobile} {
                        //   @include fontSize(6.667vw,800);
                        //   margin-bottom: 11.333vw;
                        }
                    }
                    .CategoryInputBody {
                      overflow: none;
                      .body {
                        overflow: scroll;
                      }
                    }
                }
            }
        }
    }
}