@charset "UTF-8";
/*변수*/
.wrapper {
  padding-top: 25px;
}

.wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .container .imageBox {
  width: 50%;
  min-width: 50%;
}

@media screen and (max-width: 800px) {
  .wrapper .container .imageBox {
    display: none;
  }
}

.wrapper .container .imageBox div {
  width: 100%;
}

.wrapper .container .imageBox div img {
  max-height: 590px;
  vertical-align: bottom;
  width: 100%;
  height: 522px;
  -o-object-fit: fill;
     object-fit: fill;
}
