@charset "UTF-8";
/*변수*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 100vw;
  width: auto;
  min-height: 100vh;
  height: auto;
}

.wrapper .container .imageBox {
  width: 50%;
  min-width: 50%;
}

@media screen and (max-width: 700px) {
  .wrapper .container .imageBox {
    display: none;
  }
}

.wrapper .container .imageBox .imgWrapper {
  width: 100%;
}

.wrapper .container .imageBox .imgWrapper img {
  vertical-align: bottom;
  width: 50%;
  height: 505px;
  max-height: 505px;
  -o-object-fit: fill;
     object-fit: fill;
}
