@import '../../../styles/variables';
@import '../../../styles/mixins';

.tabsContainer {
  width: 100%;
  h2 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .posts {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    &::after { 
      content: "";
      flex: 0 0 75%;
      @media (max-width: 1000px) {
        flex: 1 0 70%;
      }
      @media (max-width: 800px) {
        flex: 1 0 50%;
      }
      @media (max-width: 600px) {
        flex: 1 0 0%;
      }
    }
    li {
      padding: 1em 1em;
      text-align: center;
      flex: 0 0 25%;
      @media (max-width: 1000px) {
        flex: 1 0 30%;
      }
      @media (max-width: 800px) {
        flex: 1 0 50%;
      }
      @media (max-width: 600px) {
        flex: 1 0 100%;
      }
      img {
        cursor: pointer;
        height: 12.5vw;
        width: 20.83vw;
        @media (max-width: 1000px) {
          height: 20vw;
          width: 78vw;
        }
        @media (max-width: 800px) {
          height: 30vw;
          width: 78vw;
        }
        @media (max-width: 600px) {
          height: 40vw;
          width: 78vw;
        }
      }
      p:first-of-type {
        cursor: pointer;
      }
      span {
        p {
          display: inline-block;
          margin-right: 4px;
          background: lightgray;
          
        }
      }
    }
  }
  .postsPaging {
    clear: both;
    margin-bottom: 50px;
    ul { 
        display: flex; 
        justify-content: center; 
        margin-top: 15px; 
        li { 
          display: inline-block; 
          width: 30px; 
          height: 30px; 
          border: 1px solid #e2e2e2; 
          display: flex; 
          justify-content: center; 
          align-items: center; 
          font-size: 1rem; 
          &:first-child{ 
            border-radius: 5px 0 0 5px; 
          }
          &:last-child{ 
            border-radius: 0 5px 5px 0; 
          }  
          &:active { 
            background-color: $mainColor; 
            a { 
              color: white; 
            } 
          }
          a { 
            text-decoration: none; 
            color: $mainColor; 
            font-size: 1rem; 
            &:hover, &:active { 
              color: $mainColor; 
            }
          } 
        }
          
      } 
    } 
    .page-selection { 
      width: 48px; 
      height: 30px; 
      color: $mainColor; 
    }
}