@import '../../../styles/mixins';

.tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(217, 217, 223, 0.3);
  margin-bottom: 20px;
  li {
    flex: 1 1 14%;
    text-align: center;
    @media (max-width: 516px) {
      flex: 1 1 25%;
    }
    button {
      @include btnNone;
      font-size: 1.2rem;
      font-weight: 300;
      color: rgb(121, 121, 121);
      margin-bottom: 10px;
      &:hover {
        color: gold;
      }
    }
  }
}