@import '../../styles/variables';

.wrapper {
  padding-top: 30px;
  .container {
    display: flex;
    .imageBox {
      width: 50%;
      min-width: 50%;
      @media #{$Small-Tablet} {
        display: none;
      }
      div {
        width: 100%;
        img {
          max-height: 505px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
