@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
  background-color: rgb(251, 251, 251);
}

.navWrapper {
  max-width: 1200px;
  width: calc(100% - 48px);
  margin: 0 auto;
  text-align: center;
}

.navBox {
  display: flex;
  justify-content: space-between;
}

.categoryBox {
  text-align: left;
  border-bottom: 1px solid rgba(217, 217, 223, 0.3);
  .categoryNav {
    span {
      display: inline-block;
      padding: 5px 30px 10px 30px;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

.contentSection {
  // margin-bottom: 60px;
}

.leftNav {
  width: 55%;
  cursor: pointer;
  padding: 16px 0 5px 0;
  text-align: center;
  section {
    article {
      display: flex;
      h1 {
        font-size: 1.6rem;
        font-weight: 800;
        padding: 2px 0 0 0;
        color: $mainColor;
        line-height: 16px;
      }
      img {
        width: 28px;
        height: 28px;
        margin-right: 4px;
        // @media #{$XSmall-Mobile} {
        //   display: none;
        // }
      }
    }
  }
}

.rightNav {
  display: flex;
  justify-content: flex-end;
  width: 45%;
  padding: 16px 0 5px 0;
  font-size: 1.2rem;
  color: $mainTextColor;
  @media #{$XSmall-Mobile} {
    font-size: 1.1rem;
  }
  span {
    a {
      margin-right: 8px;
    }
  }

  div {
    border-right: 1px solid #000;
  }
}
