@import '../../../styles/variables';

.container {
  // padding: 36px 36px;
  // border: 2px solid black;
  padding: 0 36px;
  width: 50%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 590px;
  @media #{$Small-Tablet} {
    width: 100%;
  }
  section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 63px;
  }
}

.bodySection {
  width: 100%;
  margin-bottom: 36px;
}
