@import '../../../styles/variables';
@import '../../../styles/mixins';

.bodyInner {
    width: 100vw;
    &.ContentInputWrapper {
        margin: 0;
        @include flexCenter();
        box-sizing: border-box;
        .ContentInputFlexContainer {
            @include flexAllCenter();
            min-width: 100vw;
            width: auto;
            min-height: 100vh;
            height: auto;
            .ContentInputContainer {
                width: calc(100% - 16px);
                .ContentInputCard {
                    background: #FAFAFA;
                    box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.4);
                    border-radius: 4px;
                    padding: 20px;
                    .ContentInputHeader {
                        text-align: center;
                        margin-bottom: 40px;
                    }
                    .ContentInputBody {
                        margin-bottom: 60px;
                        // div:last-child {
                        //     min-height: 320px !important;
                        //     max-height: 320px !important;
                        //     overflow: hidden;
                        //     overflow-y: auto;
                        // }
                    }
                    .ContentInputFooter {
                    }
                }
            }
        }
    }
}

.qlEditor{
    div:last-child { 
        min-height: 320px !important;
        max-height: 320px !important;
        overflow: hidden;
        overflow-y: auto;
        // overflow-x: scroll;
    }
}