@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
  @include flexCenter();
  .container {
    @include flexAllCenter();
    min-width: 100vw;
    width: auto;
    min-height: 100vh;
    height: auto;
    .imageBox {
      width: 50%;
      min-width: 50%;
      @media #{$Small-Mobile} {
        display: none;
      }
      .imgWrapper {
        width: 100%;
        img {
          vertical-align: bottom;
          width: 50%;
          height: 522px;
          max-height: 590px;
          object-fit: fill;
        }
      }
    }
  }
}
