@import '../../../styles/mixins';
@import '../../../styles/variables';

.GetOutBtn {
  @include btnNone;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  padding: 0 8px;
  border-radius: 14px;
  border: 1px solid $mainColor;
  color: $mainColor;
  box-shadow: 1px 1px 3px rgba(35, 35, 35, 0.75);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  @media #{$XSmall-Mobile} {
    font-size: 1.1rem;
  }
  &:hover {
    background-color: $mainColor;
    color: #fff;
  }
}
