@import '../../../styles/variables';
@import '../../../styles/mixins';

.bodyInner {
    &.AgeInputWrapper {
        margin: 0;
        @include flexCenter();
        box-sizing: border-box;
        .AgeInputFlexContainer {
            @include flexAllCenter();
            min-width: 100vw;
            width: auto;
            min-height: 100vh;
            height: auto;
            .AgeInputContainer {
                width: calc(100% - 16px);
                max-width: 400px;
                .AgeInputCard {
                    background: #FAFAFA;
                    box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.4);
                    border-radius: 4px;
                    padding: 20px;
                    .AgeInputHeader {
                        text-align: center;
                        margin-bottom: 40px;
                        .subAge {
                          color: rgba(0, 0, 0, 0.35);
                          word-break: keep-all;  
                        }
                    }
                    .AgeInputBody {
                      text-align: center;
                      .AgeInputBox {
                        article {
                          margin-bottom: 60px;
                          min-height: 140px;
                          h2 {
                            font-weight: 400;
                            margin-bottom: 40px;
                          }
                          .DropDownContainer {
                            cursor: pointer;
                            padding-bottom: 0;
                            margin-bottom: -20px;
                            .DropDownHeader {
                              display: flex;
                              flex-direction: row;
                              justify-content: space-between;
                              padding: 0.35em;
                              box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
                              font-weight: 500;
                              font-size: 1.3rem;
                              background: #ffffff;
                              & > div {
                                  margin-left: 10px;
                                  width: 100%;
                                  display: flex;
                                  p {
                                    flex:1 1 200px;                             
                                  }
                                  div {
                                    flex:1 1 1;
                                    margin-top: 7px;
                                    background-image:
                                    url('../../../public/assets/icons/ic-polygon1.png');
                                    width: 20px;
                                    height: 18px;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    // background-position: right top;
                                  }
                              }
                            }
                            .DropDownListContainer {
                              .DropDownList {
                                width: 360px;
                                height: 230px;
                                position: absolute;
                                padding: 0;
                                margin: 0;
                                padding-left: 0.75em;
                                background: #ffffff;
                                border: 2px solid #e5e5e5;
                                box-sizing: border-box;
                                color: #000;
                                font-size: 20px;
                                font-weight: 700;
                                overflow-y: scroll;
                                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
                                &:first-child {
                                    padding-top: 0.4em;
                                }
                                .ListItem {
                                  list-style: none;
                                  margin-bottom: 0.8em;
                                  &:hover {
                                    background: #e5e5e5;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                    .AgeInputFooter {
                      width: 100%;
                      display: flex;
                      flex: 1;
                      button {
                        margin-right: 5px;
                        &:last-child {
                          margin-right: 0;
                        }
                      }
                    }
                }
            }
        }
    }
}