@import '../../../styles/variables';

.container {
  display: flex;
  height: 100%;
  padding-top: 80px;
  .image {
    width: 50%;
    min-width: 50%;
    height: 100%;
    @media #{$Small-Tablet} {
      display: none;
    }
    img {
      max-height: 505px;
      vertical-align: bottom;
      width: 100%;
      height: 100%;
    }
  }
}
