@charset "UTF-8";
/*변수*/
.container {
  padding: 36px 36px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 505px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}

.container section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 63px;
}

.bodySection {
  width: 100%;
  margin-bottom: 36px;
}

.footerSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footerSection button {
  margin-right: 5px;
}

.footerSection button:last-child {
  margin-right: 0;
}

.body-inner {
  margin-top: 74px;
  background: #EBEDFF;
  min-height: 100vh;
}

.body-inner.hasScroll {
  margin-top: 0;
}

.body-inner.chapter-inner {
  background: #fff;
}

.body-inner .container {
  margin: 0 auto;
}

.bodyInner.CategoryInputWrapper {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bodyInner.CategoryInputWrapper .CategoryInputFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 100vw;
  width: auto;
  min-height: 100vh;
  height: auto;
}

.bodyInner.CategoryInputWrapper .CategoryInputFlexContainer .CategoryInputContainer {
  width: calc(100% - 16px);
  max-width: 400px;
}

.bodyInner.CategoryInputWrapper .CategoryInputFlexContainer .CategoryInputContainer .CategoryInputCard {
  background: #FAFAFA;
  -webkit-box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.4);
          box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.4);
  border-radius: 4px;
  padding: 20px;
}

.bodyInner.CategoryInputWrapper .CategoryInputFlexContainer .CategoryInputContainer .CategoryInputCard .CategoryInputHeader {
  text-align: center;
  margin-bottom: 40px;
}
