@charset "UTF-8";
/*변수*/
.bodyInner {
  width: 100vw;
}

.bodyInner.ContentInputWrapper {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bodyInner.ContentInputWrapper .ContentInputFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 100vw;
  width: auto;
  min-height: 100vh;
  height: auto;
}

.bodyInner.ContentInputWrapper .ContentInputFlexContainer .ContentInputContainer {
  width: calc(100% - 16px);
}

.bodyInner.ContentInputWrapper .ContentInputFlexContainer .ContentInputContainer .ContentInputCard {
  background: #FAFAFA;
  -webkit-box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.4);
          box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.4);
  border-radius: 4px;
  padding: 20px;
}

.bodyInner.ContentInputWrapper .ContentInputFlexContainer .ContentInputContainer .ContentInputCard .ContentInputHeader {
  text-align: center;
  margin-bottom: 40px;
}

.bodyInner.ContentInputWrapper .ContentInputFlexContainer .ContentInputContainer .ContentInputCard .ContentInputBody {
  margin-bottom: 60px;
}

.qlEditor div:last-child {
  min-height: 320px !important;
  max-height: 320px !important;
  overflow: hidden;
  overflow-y: auto;
}
