@charset "UTF-8";
/*변수*/
.container {
  padding: 36px 36px;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 505px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}

.container section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 63px;
}

.bodySection {
  width: 100%;
  margin-bottom: 36px;
}

.footerSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footerSection button {
  margin-right: 5px;
}

.footerSection button:last-child {
  margin-right: 0;
}
