@import 'mixins';
@import 'variables';
@import 'fonts';

.homeWrapper {
  .homeContainer {
    display: flex;
    height: 100%;
    padding-top: 80px;
    .image {
      width: 50%;
      min-width: 50%;
      height: 100%;
      @media #{$Small-Tablet} {
        display: none;
      }
      img {
        max-height: 505px;
        vertical-align: bottom;
        width: 100%;
        height: 505px;
        object-fit: fill;
      }
    }
  }
  .categoryContainer {
    display: flex;
    height: 100%;
    padding-top: 80px;
  }
}

.bodyInner {
  box-sizing: border-box;
  &.homeFlexContainer {
    background: white;
    display: flex;
    margin: 0 auto;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    .homeContainer {
      width: 100%;
      height: 100%;
      // @media (max-width: 630px) {
      //   margin-top: 80px;
      // }
      .homeWrapper {
        // padding: 0px 0px 72px 0px;
        // padding-right: 7.115vw;
        // padding-left: 7.115vw;
        // @media #{$XSmall-Web} {
        //   padding: 0px 24px 6.272vw 24px;
        // }
        width: 100%;
        height: 100%;
        .homeBanner {
          width: 100%;
          height: 100%;
          margin-bottom: 40px;
          .bannerContents {
            width: 100%;
            height: 100%;
            .swiperContainer {
              height: 100%;
              width: 100%;
              margin-left: auto;
              margin-right: auto;
              .swiperSlide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                div {
                  width: 100%;
                  max-height: 360px;
                  img {
                    // display: block;
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;
                  }
                }
              }
            }
          }
        }
        .homeCategoryList {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          margin-bottom: 40px;
          width: calc(100% - 48px);
          height: 200px;
          // background: lightsalmon;
          @media (max-width: 800px) {
            height: 25vw;
          }
          @media (max-width: 520px) {
            height: 210px;
          }
          .homeCategoryHeader {
            width: 100%;
            h2 {
              width: 100%;
              margin-bottom: 40px;
              font-size: 1.2rem;
              font-weight: 600;
            }
            ul {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              li {
                padding-bottom: 20px;
                flex: 1 1 14%;
                /* flex-grow: 1; flex-shrink: 1;아이템이 flex-basis보다 작아질 수 있음 flex-basis: 14%; */
                text-align: center;
                @media (max-width: 516px) {
                  flex: 1 1 25%;
                }
                &:last-child {
                  button {
                    @include btnNone();
                    font-size: 1rem;
                    @media (max-width: 585px) {
                      font-size: 13px;
                    }
                    img {
                      width: 70px;
                      height: 70px;
                      margin-bottom: 5px;
                      @media (max-width: 900px) {
                        width: 7.84vw;
                        height: 7.84vw;
                      }
                    }
                  }
                }
                button {
                  @include btnNone();
                  font-size: 1rem;
                  @media (max-width: 585px) {
                    font-size: 13px;
                  }
                  img {
                    width: 70px;
                    height: 70px;
                    margin-bottom: 5px;
                    @media (max-width: 900px) {
                      width: 7.84vw;
                      height: 7.84vw;
                    }
                  }
                }
              }
            }
          }
        }
        .homeItemList {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          margin-bottom: 40px;
          width: calc(100% - 48px);
          height: 258px;
          
        }
      }
    }
  }
}



